
.wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
}

.container {
    overflow: scroll;
    position: relative;
}

.container::-webkit-scrollbar {
    display: none;
}

app-loarder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}